@model VeltorERP.Domain.Entities.Customer

<h2>Editar Cliente</h2>

<form asp-action="Edit">

    <input asp-for="Id" type="hidden" />

    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Phone"></label>
        <input asp-for="Phone" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">
        Salvar
    </button>

</form>